// skeleton
// setting transparent color
%loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    border-color: #eee;

    &::placeholder {
        color: transparent;
    }
}

// key frames for fading effect
@keyframes loading-skeleton {
    from {
        opacity: 0;
    }

    to {
        opacity: .05;
    }
}

@keyframes no-content-msg {
    from {
        opacity: 0;
    }

    to {
        opacity: .9;
    }
}

// extension to chidren tags
.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 1s infinite alternate;
    h1,
    p {
        @extend %loading-skeleton;
    }
}